<!-- Validation failure messages -->
<% if @filter.errors.any? %>
  <% @filter.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Filter</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_filter" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dish_id -->
      <div class="form-group">
        <label for="dish_id" class="control-label">
          Dish
        </label>

        <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :type_of_food, @filter.dish_id), :class => "form-control") %>
      </div>

      <!-- Label and input for cuisine_id -->
      <div class="form-group">
        <label for="cuisine_id" class="control-label">
          Cuisine
        </label>

        <%= select_tag(:cuisine_id, options_from_collection_for_select(Cuisine.all, :id, :name, @filter.cuisine_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Filter
      </button>
      or
      <a href="/filters">Cancel</a>
    </form>
  </div>
</div>
